{{> head }}
    
    {{> navbar }}

    <main>
      <div class="container">
        <h1>{{ data.title }}</h1>
        <p>12 Maret 2024 22:23 WIB | Amien Said</p>
        <img src="{{ data.image }}" alt="{{ data.title }}">
        <p>{{ data.content }}</p>
      </div>
    </main>
    
{{> foot }}