{{> head }}
{{> navbar }}
<div class="container py-5">
    <div class="col-md-4 offset-2 p-5 rounded-2 bg-primary-subtle border border-primary">
        Hello world {{ id }}
    </div>
</div>
{{> foot }}